.form-group {
  display: block;

  @include media(desktop) {
    // width: 50%;
  }
}

.form-label {
  display: block;
  font-weight: bold;
  font-size: 22px;
}

.form-hint {
  display: block;
  color: #6f777b;
  font-weight: normal;
  margin-bottom: 5px;
  font-size: 18px;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #bfc1c3;
  padding: 4px;
  line-height: 1.4;
  margin-bottom: 5px;

  @include media(tablet) {
    width: 50%;
  }
}

.form-help {
  summary {
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}

// dealing with the devise plugin login form output
.login {
  .form-control,
  .form-group {
    @include media(tablet) {
      width: 100%;
    }
  }
}
