<table class="table table-striped table-bordered needs__table" id="needs">
  <thead>
    <tr class="table-header">
      <th></th>
      <th>ID</th>
      <th>I need to&hellip;</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "needs/need_row", collection: @needs, as: :need %>
  </tbody>
</table>
