<h2>Filter by tag</h2>

<%= form_tag(:controller => "needs", :action => "filter") do %>

  <% TagType.all.each do |tag_type| %>

  <%= label_tag(:q, tag_type.name) %>
    <%= select_tag(
        :tag_id,
        options_from_collection_for_select(tag_type.tags, :id, :name, params[:tag_id]),
        multiple: true,
        class: 'tags',
        'data-module' => 'chosen',
        style: 'width: 100%'
      )
    %>
  <% end %>

  <%= submit_tag("Filter", class: 'btn, btn-primary') %>

<% end %>
