<% content_for :page_title, "Search needs" %>

<h1 class="page-title-with-border">Search needs</h1>

<form method="GET">
  <label for="" class="form-label">
    Keyword search
    <span class="form-hint">For example by acceptance criteria, comments or user need</span>
  </label>
  <input class="form-control" type="text" name="q" value="<%= params[:q] %>">

  <details class="form-help">
    <summary>Advanced syntax</summary>
    <div class="text-muted panel-indent">
      <ul>
        <li>| means OR
        e.g. "blue | red"</li>
        <li>&amp; means AND
          e.g. "civil &amp; expenses"</li>
        <li>  or combine them
          e.g. "civil | (expense &amp; travel)"</li>
      </ul>
      <!--
      ! means NOT
      e.g. "civil &amp; ! financial"
      -->
    </div>
  </details>

</form>
<hr>
<% if @needs %>
<h2><%= @needs.size %> results </h2>
<hr>
<%= render partial: "/needs/collection" %>
<% end %>

<h2 class="text-danger"><%= @message %></h2>
