/* ==========================================================================
   Colours
   ========================================================================== */

$hm-government: #0076c0; /* Light blue */

$primary-color: #333;

$header-color: $primary-color;
$header-border-color: #ea4e5a;

$inverse-text-color: #eee;
