/* ==========================================================================
   Colours
   ========================================================================== */

$hm-government: #0076c0; /* Light blue */

$primary-color: #005192;

$header-color: $primary-color;
$header-border-color: #000;

$inverse-text-color: #eee;
