// variables used for the media queries mixin
$desktop_bp: 769px;
$tablet_bp: 641px;
$mobile_bp: 640px;

// measurements
// consider putting in separate _measurements.scss
$gutter: 30px;
$gutter-half: $gutter/2;